* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.primary-icon {
  height: 30px;
}

.nav-list {
  list-style-type: none;
}



.nav-list .list-item {
  display: inline-block;
  padding: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: aqua;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.menu {
  display: none;
}

@media all and (max-width: 480px){
  .navbar {
      flex-direction: column;
      position: relative;
  }

  .navbar .container-icon {
      width: 100%;
  }
  .menu {
      display: block;
      position: absolute;
      right: 15px;
      top: 15px;
  }

  .nav-list {
      list-style-type: none;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      display: none;
  }

  .nav-list .list-item {
      display: block;
      border-top: 1px solid white;
  }

  .primary-icon {
      margin-top: 10px;
      margin-left: 10px;
  }

  .active {
      display: block;
  }
}